@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<div>   
    <h1 class="display-4">Joel and his Movies</h1>
</div>
<div>   
    <img src="https://i.postimg.cc/XYfBV3yY/beach.gif" />
</div>

<div> 
    <a asp-controller="Home" asp-action="Form">Fill out Form Here</a>
</div>